@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button,
  a {
    @apply cursor-pointer;
  }
}

@layer components {
  .grayButton {
    @apply p-3 rounded-full  hover:opacity-80 justify-center flex items-center dark:text-gray-800 text-3xl bg-gray-200;
  }
  .ykhInputButton {
    @apply rounded p-4 bg-white w-90 placeholder:text-black outline-none lg:w-120  
    
    dark:placeholder:text-gray-900 dark:text-lime-300 border border-emerald-300 dark:border-emerald-100;
  }
  /* global.css 또는 globals.css */
}

@import "../components/post/hseUpPost_FollowBtn.css";

.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
}
