@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--color-emerald-400);
}

:root {
  --color-primary: var(--color-emerald-400); /* Tailwind emerald-300 */
}

html,
body {
  height: 100%;
  margin: 0;
  scrollbar-gutter: stable;
}

body::-webkit-scrollbar {
  display: none;
}

@layer base {
  button,
  a {
    @apply cursor-pointer;
  }
  *::-webkit-scrollbar {
    /* 전체 스크롤바 영역 (트랙 + 손잡이 포함) */
    @apply w-1.5 rounded-full cursor-pointer box-border bg-clip-padding;
  }
  *::-webkit-scrollbar-track {
    /* 스크롤바의 "트랙" — 손잡이가 움직이는 배경 영역  */
    @apply bg-gray-100 rounded-full cursor-pointer;
  }
  .dark *::-webkit-scrollbar-track {
    background-color: #4c4c4c;
  }
  *::-webkit-scrollbar-thumb {
    /* 	실제로 사용자가 드래그하는 "스크롤 손잡이" */
    @apply bg-primary rounded-full cursor-pointer hover:bg-primary/60 bg-clip-padding border-transparent;
  }
}

@layer components {
  .grayButton {
    @apply p-3 rounded-full  hover:opacity-80 justify-center flex items-center  text-3xl bg-gray-50 dark:bg-[#444444] dark:text-[#F1F5F9];
  }
  .ykhInputButton {
    @apply rounded-lg min-h-14 px-2 py-2 bg-gray-50 w-90 placeholder:text-gray-500 lg:w-120 dark:bg-[#666666]  focus:border-primary
    md:placeholder:text-sm  
    dark:placeholder:text-white shadow-sm dark:text-white border border-gray-400;
  }
  /* 하나추가함 */
  .CommonInput {
    @apply rounded-lg min-h-14 md:placeholder:text-sm placeholder:text-gray-500 focus:border-primary  px-2 py-2 dark:placeholder:text-white border-gray-500 border focus:outline-none w-80 lg:w-150;
  }
  /* global.css 또는 globals.css */
}

@import "../components/post/hseUpPost_FollowBtn.css";
